<div class="recipePartial">

    <img src="{{this.image}}" alt="{{this.title}}" width="100%" height="329";>
    <h1>{{this.title}}</h1>
    <p>Duration: {{this.duration}}m</p>
    <a href="recipes/details?id={{this._id}}">Details</a>

</div>