
<h1> Multiples recetas </h1>


{{#with data}}

<p><b>Title de mi gran receta: {{title}} </b></p>
<p><b>Nivel de mi receta: {{level}}</b></p>
<p><b>Que tipo de cuisine: {{cuisine}}</b></p>
<p><b>Que tipo de dishType es: {{dishType}} </b></p>
<p><b>Imagen: {{image}} </b></p>
<p><b>Cuando tarda!?: {{duration}} </b></p>
<p><b>Quien lo creo?: {{creator}} </b></p>


{{/with}}


