<h1>Recetas</h1>

{{#each datos}}

	<h1>{{this.title}}</h1>
	<p>{{this.level}}</p>
	<p>{{this.ingredients}}</p>
	<p>{{this.cuisine}}</p>
	<p>{{this.dishType}}</p>
      <p>{{this.image}}</p>
      <p>{{this.duration}}</p>

	<hr />

{{/each}}