<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div class="container">
    <h1>The recipes today are:</h1>
    <div class="row">
            {{#each recipes}}
        <div class="col-4 .recipe">
                    <img src="{{this.image}}" alt="{{title}} img" class="mx-auto d-block m-2 p-2">
                    <h5>{{title}}</h5>
                    <h6>Level: {{level}}</h6>
                    <h6>Cuisine: {{cuisine}}</h6>
                    <h6>Course: {{dishType}}</h6>
                    <h6>Cooking time: {{duration}} minutes</h6>
                </div>
            {{/each}}
    </div>
    </div>   
</body>
</html>